%h1 Thank you
#request-invite.modal{:style => "display: 'block';"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} &#215;
    %h3 Welcome!
  .modal-body
    %p You have successfully signed up :)
