%div{:class => "navbar navbar-fixed-top"}
  %div{:class => "navbar-inner"}
    %div{:class => "container-fluid"}
      %div{:class => "nav-collapse"}
        %ul{ :class => "nav"}
          %li{ :class => "active" }
            =link_to(image_tag("home_24x24.png"), root_path)
          %li
            =link_to "Login", "#"
