%table{ :class => "table stripped-table" }
  %thead
    %tr
      %th Rank
      %th Name
      %th Phone Number
      %th Email
  %tbody
    - @players.each do |player|
      %tr 
        %td= player.ladder_rank
        %td= player.first_name + "\t" +  player.last_name
        %td= player.phone_number
        %td= player.email
