%h3 Rules and Regulations
%ol
  %li All members that wish to take part in the 2012 MUK Ladder challenge must pay a Ladder Fee of ugx 20,000 only. Payment to be made to the court attendant, Mr. Moses, only.
  %li All participating members are expected to have paid at least half of the ladder Fee (ugx 10,000) before playing a third challenge/match.
  %li All participating members are expected to have completed payment of said dues by week 3 of the Ladder challenge.
  %li All participating members, but for No. 1, can challenge other members up to a maximum of Four positions above them.
  %li Members that wish to place a challenge must communicate either by email or by phone.
  %li Members that wish to place a challenge by email must copy all Ladder members.
  %li Members that wish to place a challenge by phone must advise the Ladder manager.
  %li Members that are challenged are expected to confirm their engagement with in 24hrs.
  %li Members that are challenged are expected to confirm their engagement either by email or by phone.
  %li The challenged members that wish to confirm by email must copy all Ladder members.
  %li The challenged members that wish to confirm by phone must advise the Ladder manager.
  %li Challenged members are not expected to decline challenges from the same challenger more than once.
  %li Challenges are expected to kick off on time especially on peak days. An allowance of only 30mins is given in case of a delay.
  %li In the event of a win, the challenger will displace the challenged by one position below.
  %li In the event of a loss, the challenger & challenged will retain their previous positions.
  %li In the event of a win, the challenger (victor) can play a subsequent challenge after at least one week. During this break other members save for the challenged (vanquished) can engage the challenger (victor) on condition the challenger (victor) is within range.
  Note; the challenger (victor) can now place a subsequent challenge bearing in mind that if other members within range wish to challenge him, he must honour the other members’ challenges before proceeding with the challenge he placed, that’s if his opponent is still within range.
  %li A maximum of 2 weeks is given for no activity after the last challenge.
  %li Unfinished challenges must be concluded the following day. Play to be resumed at the last point, game & set score.
  %li The challenging members are expected to specify the date & time of engagement.
  %li The challenging members are expected to provide tennis balls that are in good/playable condition.

