.container-fluid
  .row-fluid
    .span8
      %table{ :class => "table stripped-table" }
        %thead
          %tr
            %th Challenger
            %th Opponent
            %th Match Date
        %tbody
          - @matches.each do |match|
            %tr
              %td= match.challenger
              %td= match.opponent
              %td= match.match_date.to_formatted_s(:long)
